{{!-- BEGIN-SNIPPET content-api }}
{{frost-object-details
  ...
  detailTabs=(array
    (component 'frost-object-tab'
      id='<tab id>'
      text='<tab text>'
      content=(component '<component name>' ...)
    )
    ...
  )
  relatedObjectTabs=(array
    (component 'frost-related-object-tab'
      id='<tab id>'
      text='<tab text>'
      icon=(hash
        name='<icon name>'
        pack='<icon pack>'
      )
      content=(component '<component name>' ...)
    )
    ...
  )
  ...
}}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      You probably want to put some content in your tabs. You can set the content by passing a component to a tab in
      the <i>content</i> attribute.
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='content-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>Component object-details-content</i>
    {{code-snippet name='object-details-content.hbs'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo controller</i>
    {{code-snippet name='content-controller.js'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo template</i>
    {{code-snippet name='content-frost-object-detail.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET content-frost-object-detail }}
    {{frost-object-details
      selectedTabId=selectedTabId
      selectedTabType=selectedTabType
      defaultTabId='profile'
      onChange=(action 'onChange')
      detailTabs=(array
        (component 'frost-object-tab'
          id='profile'
          text='Profile View'
          content=(component 'frost-text'
            onInput=(action 'onFilterChange')
            value=filter
          )
        )
        (component 'frost-object-tab'
          id='foo'
          text='Foo'
          content=(component 'frost-text'
            onInput=(action 'onFilterChangeA')
            value=filterA
          )
        )
        (component 'frost-object-tab'
          id='bar'
          text='Bar'
          content=(component 'frost-text'
            onInput=(action 'onFilterChangeB')
            value=filterB
          )
        )
      )
      relatedObjectTabs=(array
        (component 'frost-related-object-tab'
          id='devices'
          text='Devices'
          icon=(hash
            name='network-element'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='coral'
            name='related devices')
        )
        (component 'frost-related-object-tab'
          id='baz'
          text='Baz'
          icon=(hash
            name='service'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='rebeccapurple'
            name='related baz')
        )
      )
    }}
    {{! END-SNIPPET }}
  </div>
</div>