{{!-- BEGIN-SNIPPET selected-tab-api }}
{{frost-object-details
  selectedTabId='<id of the selected tab>'
  selectedTabType='<type of the selected tab>'
  onChange=(action '<action name>')
  ...
  detailTabs=(array
    (component 'frost-object-tab'
      id='<tab id>'
      text='<tab text>'
      content=(component '<component name>' ...)
    )
    ...
  )
  relatedObjectTabs=(array
    (component 'frost-related-object-tab'
      id='<tab id>'
      text='<tab text>'
      icon=(hash
        name='<icon name>'
        pack='<icon pack>'
      )
      content=(component '<component name>' ...)
    )
    ...
  )
  ...
}}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      <p>
        When we select a tab the <i>onChange</i> action will be triggered. It will receive the tab id and type by
        parameter.
      </p>
      <p>
        If you want to make sure to keep the tab selection state properly you need to make sure to handle this event
        and change the <i>selectedTabId</i> and <i>selectedTabType</i>
      </p>
      <p>
        You can set a default selected tab by setting those attributes:
        <i>
          <br>selectedTabId: 'devices',
          <br>selectedTabType: 'relatedObjectTab'
        </i>
      </p>
      <p>
        If you are not setting a default value, the first object tab is the default selection.
      </p>
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='selected-tab-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo controller</i>
    {{code-snippet name='selected-tab-controller.js'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo template</i>
    {{code-snippet name='selected-tab.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET selected-tab }}
    {{frost-object-details
      selectedTabId=selectedTabId
      selectedTabType=selectedTabType
      defaultTabId='profile'
      onChange=(action 'onChange')
      detailTabs=(array
        (component 'frost-object-tab'
          id='profile'
          text='Profile View'
          content=(component 'object-details-content'
            color='skyblue'
            name='profile')
        )
      )
      relatedObjectTabs=(array
        (component 'frost-related-object-tab'
          id='devices'
          text='Devices'
          icon=(hash
            name='network-element'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='coral'
            name='related devices')
        )
      )
    }}
    {{! END-SNIPPET }}
  </div>
</div>