<div data-test={{hook (concat hook '-object-details')}}>
  <div data-test={{hook (concat hook '-object-details-content')}}>
    {{yield}}
  </div>
  <div class="tabs" data-test={{hook (concat hook '-object-details-tabs')}}>
    {{#each detailTabs as |tab|}}
      {{component tab hook=hook targetOutlet=targetOutlet selectedTabName=selectedTabName selectedTabType=selectedTabType defaultTabName=defaultTabName}}
    {{/each}}
  </div>
  <div class="body" data-test={{hook (concat hook '-object-details-body')}}>
    <div class='content' data-test={{hook (concat hook '-object-details-body-content')}}>
      {{from-elsewhere name=targetOutlet}}
    </div>
    <div class="related-object-tabs" data-test={{hook (concat hook '-object-details-related-object-tabs')}}>
      {{#each relatedObjectTabs as |tab|}}
        {{component tab hook=hook targetOutlet=targetOutlet selectedTabName=selectedTabName}}
      {{/each}}
    </div>
  </div>
</div>
