{{#if isSelected}}
  {{#if persistRouteName}}
    {{#frost-link persistRouteName}}
        <div class='circle'>
          {{frost-icon class='service' icon='frost/add'}}
        </div>
        {{actionLink.alias}}
    {{/frost-link}}
  {{else}}
    {{#frost-link 'details.sub1'}}
        <div class='circle'>
          {{frost-icon class='service' icon='frost/add'}}
        </div>
        {{actionLink.alias}}
    {{/frost-link}}
  {{/if}}
{{else}}
  {{#frost-link actionLink.route}}
      <div class='circle'>
        {{frost-icon class='service' icon=actionLink.path}}
      </div>
      {{actionLink.alias}}
  {{/frost-link}}
{{/if}}
