{{#if (eq myTargetRouteName route)}}
  {{#if icon}}
      <div class='circle'>
        {{frost-icon icon=icon}}
      </div>
  {{/if}}
  {{yield}}
{{else}}
  {{#if icon}}
      <div class='circle'>
        {{frost-icon icon='frost/close'}}
      </div>
  {{/if}}
  {{yield}}
{{/if}}


