{{yield}}
<div class="tabs" data-test={{hook (concat hook '-object-details-tabs')}}>
  {{#each detailTabs as |tab|}}
    <div class='tab' data-test={{hook (concat hook '-object-details-tab')}}>
      {{#frost-link
          (query-params selectedTabName=tab.name)
          classNames=(concat
            'frost-view-detail'
            (if (is-tab-selected tab.name selectedTabName defaultTab.name) ' active')
          )
      }}
        <div class="text" data-test={{hook (concat hook '-object-details-text')}}>
          {{tab.text}}
        </div>
      {{/frost-link}}
      {{#if (eq tab.name currentTab.name)}}
        <div class="tab-selection {{if (is-tab-selected tab.name selectedTabName defaultTab.name) ' active'}}"></div>
      {{/if}}
    </div>
  {{/each}}
</div>
<div class="body" data-test={{hook (concat hook '-object-details-body')}}>
  <div class='content' data-test={{hook (concat hook '-object-details-content')}}>
    {{#if currentRelatedObjectTab}}
      {{component currentRelatedObjectTab.content}}
    {{else}}
      {{component currentTab.content}}
    {{/if}}
  </div>
  <div class="related-object-tabs" data-test={{hook (concat hook '-object-details-related-object-tabs')}}>
    {{#each relatedObjectTabs as |tab|}}
      {{#frost-related-object-tab-link
          (query-params selectedTabName=(if (is-tab-selected tab.name currentRelatedObjectTab.name) defaultTab.name tab.name))
          classNames=(if (is-tab-selected tab.name currentRelatedObjectTab.name) 'is-selected' '')
          icon=tab.icon.name
          pack=tab.icon.pack
          isSelected=(is-tab-selected tab.name currentRelatedObjectTab.name)}}
        {{tab.text}}
      {{/frost-related-object-tab-link}}
    {{/each}}
  </div>
</div>
