<div data-test={{hook (concat hook '-object-details')}}>
  <div data-test={{hook (concat hook '-object-details-content')}}>
    {{yield}}
  </div>
  <div class='object-details-tabs' data-test={{hook (concat hook '-object-details-tabs')}}>
    {{#each detailTabs as |tab index|}}
      <div class='object-details-tab' data-test={{hook (concat hook '-object-details-tab-' index)}}>
        {{component tab
          hook=hook
          targetOutlet=targetOutlet
          selectedTabId=selectedTabId
          selectedTabType=selectedTabType
          defaultTabId=defaultTabId
          register=registerTab
          onChange=(action 'change')}}
      </div>
    {{/each}}
  </div>
  <div class='object-details-body'>
    <div class='content' data-test={{hook (concat hook '-object-details-body-content')}}>
      {{#from-elsewhere name=targetOutlet as |tab|}}
        {{#liquid-bind (hash tab=tab orderedTabIds=orderedTabIds) rules=animations as |currentModel|}}
          {{component currentModel.tab.content}}
        {{/liquid-bind}}
      {{/from-elsewhere}}
    </div>
    <div class='related-object-tabs 'data-test={{hook (concat hook '-object-details-related-object-tabs')}}>
      {{#each relatedObjectTabs as |tab index|}}
        <div class='related-object-tab' data-test={{hook (concat hook '-object-details-related-object-tab-' index)}}>
          {{component tab
            hook=hook
            targetOutlet=targetOutlet
            selectedTabId=selectedTabId
            onChange=(action 'change')}}
        </div>
      {{/each}}
    </div>
  </div>
</div>