{{#if isSelected}}
  {{#if persistedRouteName}}
    {{#frost-link persistedRouteName}}
        <div class='circle'>
          {{frost-icon icon='frost/close'}}
        </div>
        {{alias}}
    {{/frost-link}}
  {{else}}
    {{#frost-link defaultRoute }}
        <div class='circle'>
          {{frost-icon icon='frost/close'}}
        </div>
        {{alias}}
    {{/frost-link}}
  {{/if}}
{{else}}
  {{#frost-link route }}
      <div class='circle'>
        {{frost-icon icon=svgPath}}
      </div>
      {{alias}}
  {{/frost-link}}
{{/if}}
