{{!-- BEGIN-SNIPPET query-params-api }}
{{frost-object-details
  selectedTabId='<id of the selected tab>'
  selectedTabType='<type of the selected tab>'
  onChange=(action '<action name>')
  ...
  detailTabs=(array
    (component 'frost-object-tab'
      id='<tab id>'
      text='<tab text>'
      content=(component '<component name>' ...)
    )
    ...
  )
  relatedObjectTabs=(array
    (component 'frost-related-object-tab'
      id='<tab id>'
      text='<tab text>'
      icon=(hash
        name='<icon name>'
        pack='<icon pack>'
      )
      content=(component '<component name>' ...)
    )
    ...
  )
  ...
}}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      <p>
        When we select a tab the <i>onChange</i> action will be triggered. It will receive the tab id and type by
        parameter. it's possible to store these values in the query params like this:
        <i>queryParams: ['selectedTabId', 'selectedTabType']</i>
      </p>
      <p>Click on the tab and check your URL!!!</p>
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='query-params-api.hbs'}}
  </div>
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo controller</i>
    {{code-snippet name='query-params-controller.js'}}
  </div>
  <div class='addon-demo-snippet'>
    <i>Demo template</i>
    {{code-snippet name='query-params.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET query-params }}
    {{frost-object-details
      selectedTabId=selectedTabId
      selectedTabType=selectedTabType
      defaultTabId='profile'
      onChange=(action 'onChange')
      detailTabs=(array
        (component 'frost-object-tab'
          id='profile'
          text='Profile View'
          content=(component 'object-details-content'
            color='skyblue'
            name='profile')
        )
      )
      relatedObjectTabs=(array
        (component 'frost-related-object-tab'
          id='devices'
          text='Devices'
          icon=(hash
            name='network-element'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='coral'
            name='related devices')
        )
      )
    }}
    {{! END-SNIPPET }}
  </div>
</div>