{{!-- BEGIN-SNIPPET overview-content-api }}
{{frost-object-details
  selectedTabName='<name of the selected tab>'
  selectedTabType='<type of the selected tab>'
  defaultTabName='<name of the default tab>'
  detailTabs=(array
    (component 'frost-object-tab'
      name='<tab name>'
      text='<tab text>'
      content=(component '<component name>' ...)
    )
    ...
  )
  relatedObjectTabs=(array
    (component 'frost-related-object-tab'
      name='<tab name>'
      text='<tab text>'
      icon=(hash
        name='<icon name>'
        pack='<icon pack>'
      )
      content=(component '<component name>' ...)
    )
    ...
  )
}}
{{ END-SNIPPET --}}

<div class='addon-demo-api'>
  <div class='addon-demo-title'>
    Notes
  </div>
  <div class='addon-demo-notes'>
    <p>
      <p>
        <b>ember-frost-object-details</b> page packages together all details about an object in a full page of real
        estate. The ember-frost-object-details component will provide you free animations, styles and the frame of the
        page with simple setup.
      </p>
    </p>
  </div>
  <div class='addon-demo-title'>
    API
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='overview-content-api.hbs'}}
  </div>
  {{#link-to 'demo.content' class='frost-link secondary medium'}}
    <div class='content text'>Show me more details!</div>
  {{/link-to}}
</div>
<div class='addon-demo-live'>
  <div class='addon-demo-title'>
    Live demo
  </div>
  <div class='addon-demo-snippet'>
    {{code-snippet name='overview-frost-object-details.hbs'}}
  </div>
  <div class='addon-demo-component'>
    {{! BEGIN-SNIPPET overview-frost-object-details }}
    {{frost-object-details
      selectedTabName=selectedTabName
      selectedTabType=selectedTabType
      defaultTabName='profile'
      detailTabs=(array
        (component 'frost-object-tab'
          name='profile'
          text='Profile View'
          content=(component 'object-details-content'
            color='skyblue'
            name='profile')
        )
        (component 'frost-object-tab'
          name='preferences'
          text='Preferences View'
          content=(component 'object-details-content'
            color='red'
            name='preferences')
        )
      )
      relatedObjectTabs=(array
        (component 'frost-related-object-tab'
          name='devices'
          text='Devices'
          icon=(hash
            name='network-element'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='coral'
            name='related devices')
        )
        (component 'frost-related-object-tab'
          name='friends'
          text='Friends'
          icon=(hash
            name='tenant'
            pack='dummy'
          )
          content=(component 'object-details-content'
            color='rebeccapurple'
            name='related friends')
        )
      )
    }}
    {{! END-SNIPPET}}
  </div>
</div>